.DS_Store
.idea
.ipynb_checkpoints
venv
__pycache__
*/data/FashionMNIST
*/data/MNIST
*/data/openml
*/data/celeba
*/_data/FashionMNIST
*/_data/MNIST
*/_data/openml
*/_data/celeba
*/fig/*.png
*/fig/*.jpg
*/results/*.pt
*/results/*.png
*.jpg
*.png
*.pt
*.npz
*.npy
