.DS_Store
.idea
.ipynb_checkpoints
venv
__pycache__
*/data/*
*/_data/*
!*/_data/.gitkeep
!*/_data/__init__.py
*/fig/*.png
*/fig/*.jpg
*/results/*.pt
*/results/*.png
*.jpg
*.png
*.pt
*.npz
*.npy
*.log
*.nii
*.gz
downloaded_data
